<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Dados de Controle</title>
</head>
<body>
 {% if 'mensagem' in session %}
       <div class="alert alert-success">
           <h3>  {{ session['mensagem'] }} </h3>
       </div>
    {% endif %}
    <h2>Cadastro de Controle</h2>

    <form action="/alteracontrole" method="post">

        <h3>_______________________________________________________________________________</h3><br>
        <label for="ano">ANO:</label>
        <input type="text" id="ano" name="ano" value="{{ data_atual.year }}" readonly>

        <label for="mes">MÊS:</label>
        <select id="mes" name="mes">
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>

        <label for="semana">SEMANA:</label>
        <select id="semana" name="semana">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
        </select>

        <label for="dia">Selecione o dia:</label>
        <select id="dia" name="dia">
            <!-- Opções do dia serão adicionadas dinamicamente aqui -->
        </select>

      <script>
        document.getElementById('semana').addEventListener('change', function() {
            var semana = parseInt(this.value);
            var dias = document.getElementById('dia');
            dias.innerHTML = ''; // Limpa as opções anteriores

            var inicioDia = (semana - 1) * 7 + 1;
            var fimDia = semana * 7;
            fimDia = (fimDia > 31) ? 31 : fimDia; // Garante que o máximo seja 31

            for (var i = inicioDia; i <= fimDia; i++) {
                var option = document.createElement('option');
                option.text = i;
                option.value = i;
                dias.add(option);
            }
        });
      </script>
 <h3>_______________________________________________________________________________</h3><br>

        <input type="submit" value="Buscar Controle">
    </form>
</body>
</html>
