<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emitir Cartao Merenda</title>
</head>
<body>
    <h1 style="color: red;">Emitir Cartões Por Curso</h1>
    <form action="/emitirCartaoCurso" method="post">
        <br>
        <label for="curso">Curso:</label>
        <select id="curso" name="curso" required>
            {% for curso in cursos %}
            <option value="{{ curso[2] }}">{{ curso[0] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">EMITIR CARTÕES POR CURSO</button>
    </form>
</body>
</html>

