<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emitir Cartao Merenda</title>
</head>
<body>
    <h1 style="color: red;">Emitir Cartao Merenda</h1>
    <form action="/emitirCartao" method="post">
        <br>
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" size="12" maxlength="12" required>
        <br><br>
        <button type="submit">EMITIR CARTÃO MERENDA</button>
    </form>

</body>
</html>
