<html>
    <head>
        <title>IFPA-ABAETETUBA-TURMA - LING III</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/estilos.css">
         </head>
    <body>
        
            <div id="formlogin">
                
                <form name="meu_form">
                     <p>
                        <label for="nomeid">COMENTÁRIO</label>
                     </p>
                    <p>
                        <label for="nomeid">Nome</label>
                        <input type="text" id="nomeid" placeholder="aluno LingIII" required="required" name="nome" />
                        
                    </p>
                    <p>
                         <label for="foneid">Fone</label>
                        <input type="text" id="foneid" placeholder="(xx)xx-xx-xx-xx" name="fone" />
                       

                    </p>
                    <p>
                         <label for="emailid">Email</label>
                        <input type="email" id="emailid" placeholder="aluno@ifpa.eu.br" name="email" />
                       
                    </p>
                   
                    <p >
                        <textarea placeholder="Deixe sua opnião"></textarea>
                    </p> 
                    <p>
                        <input type="submit" onclick="Enviar();" value="Enviar" />
                    </p>

                </form>
            </div>
        
    </body>
</html>
