<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGMA - Sistema Gestor de Módulos de Auxílio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
</head>
<body>

    <!-- Cabeçalho -->


<div id="cabecalho">
    <img class="logo" width="80" height="260"  src="/static/img/ifpaLogo.png" alt="sigma">
    <h1>SIGMA - Sistema Gestor de Módulos de Auxílio</h1>
</div>

    <div id="pag">
        <!-- Menu -->
        <nav id="menu">
               <ul>
                <li align="center"><a href="#" style="color: red;">BBC-MÓDULOS</a></li>
                <li><a href="/controle" target="centrosite">Painel Contribuição</a></li>
                <li><a href="/merenda?matricula=999" target="centrosite">Painel Retribuição</a></li>
                <li><a href="#" align="center" style="color: red;">CADASTROS</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Assentado</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Cartão - Assentado</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Família - Assentado</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Entidade</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Evento</a></li>
                <li><a href="#" align="center" style="color: red;">TABELAS</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Tipo Contribuição</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Unidade de equivalia</a></li>
                <li><a href="/cartaoAlun" target="centrosite">Política Interna</a></li>
               <li><a href="/cartaoAlun" target="centrosite">Política Pública</a></li>
                    <li><a href="#" align="center" style="color: red;">CONSULTAS</a></li>
                <li><a href="/estatisticas" target="centrosite" style="color: red;">Relatórios</a></li>
                <li><a href="https://sigaa.abaetetuba.edu.br">SIGAA</a></li>
                <li><a href="https://www.mec.gov.br/">MEC</a></li>
            </ul>
        </nav>

        <!-- Conteúdo -->
        <section id="conteudo">
            <iframe name="centrosite" width="800" height="500"></iframe>
        </section>
    </div>

    <!-- Rodapé -->
    <footer id="rodape">
        <p>Endereço: Av. Rio de Janeiro, Sistemas - Bairro: Francilândia - Abaetetuba-PA</p>
    </footer>

</body>
</html>
