<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBBC - Sistema Banco do Bem Comum</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
</head>
<body>

    <!-- Cabeçalho -->


<div id="cabecalho">
    <img class="logo" width="80" height="260"  src="/static/img/ifpaLogo.png" alt="sigma">
    <h1>SBBC - Sistema Banco do Bem Comum</h1>
</div>

    <div id="pag">
        <!-- Menu -->
        <nav id="menu">
               <ul>
                <li align="center"><a href="#" style="color: red;">MÓDULOS</a></li>
                 <li><a href="/menuMerenda">Banco do Bem Comum</a></li>
                <li><a href="/menuCatraca">Cadernate da Partilha</a></li>
                 <li align="center"><a href="#" style="color: red;">TABELAS DO SISTEMA</a></li>
                 <li><a href="/menuMerenda">Situação do Assentado</a></li>
                 <li><a href="/menuCatraca">Entidades</a></li>
                   <li><a href="/menuCatraca">Tipo de Mérito - doação</a></li>
                   <li><a href="/menuMerenda">Trabalho Interno</a></li>
                 <li><a href="/menuMerenda">Tipo de Evento</a></li>
                   <li><a href="/menuCatraca">Tipo de Grupo de Trabalho</a></li>
                 <li><a href="/menuCatraca">Grupo de Trabalho</a></li>
                 <li><a href="/menuMerenda">Política Interna</a></li>
                 <li><a href="/menuCatraca">Política Pública</a></li>
                  <li align="center"><a href="#" style="color: red;">Links Úteis</a></li>
                  <li><a href="https://sigaa.abaetetuba.edu.br">CUIDA PET</a></li>
                 <li><a href="https://sigaa.abaetetuba.edu.br">SIGAA</a></li>
                <li><a href="https://www.mec.gov.br/">MEC</a></li>
            </ul>
        </nav>

        <!-- Conteúdo -->
        <section id="conteudo">
            <iframe name="centrosite" width="800" height="500"></iframe>
        </section>
    </div>

    <!-- Rodapé -->
    <footer id="rodape">
        <p>Endereço: xxxxxxxxxxxxx- Bairro: xxxxxxxxxxx - Abaetetuba-PA</p>
    </footer>

</body>
</html>
